doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Comrat

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i' rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
            .container.px-5
                a.navbar-brand(href='#page-top') Comrat
                    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#overview') Overview
                        li.nav-item
                            a.nav-link(href='#founder') Founder
                        li.nav-item
                            a.nav-link(href='#journey') Journey
                        li.nav-item
                            a.nav-link(href='#mission') Mission


        // Header
        header.masthead.text-center.text-white
            .masthead-content
                .container.px-5
                    h1.masthead-heading.mb-0 Comrat
                    h2.masthead-subheading.mb-0 Bridging the gap between education and mental health
                    a.btn.btn-primary.btn-xl.rounded-pill.mt-5(href='#scroll') Learn More
            .bg-circle-1.bg-circle
            .bg-circle-2.bg-circle
            .bg-circle-3.bg-circle
            .bg-circle-4.bg-circle

        // Content section 1
        section(id="overview" role="document")
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-5
                            img.img-fluid(src='assets/img/Ratul_1.png', alt='...')
                    .col-lg-6.order-lg-1
                        .p-5
                            h2.display-4 Studies have found that...
                            p
                                | those who used social media in an “active way” – such as making positive comments, interacting with their peers and posting or liking content regularly – had better mental health outcomes than those who didn’t again supporting the notion that technology can be used as a positive tool for improving young people’s lives, and that’s we strive to do.
        // Content section 2
        section
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6
                        .p-5
                            img.img-fluid.rounded-circle(src='assets/img/Ratul_2.png', alt='...')
                    .col-lg-6
                        .p-5
                            h2.display-4 What sets us apart...
                            p
                                | is that our app will marry education, productivity and wellbeing resources into one place. Most existing apps tend to focus on either education, productivity or mental health separately, meaning it can be overwhelming for students trying to address their mental health. We’re providing a one stop shop making the experience not only personalised but also convenient for the user.

        // Content section 3
        section
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-5
                            img.img-fluid.rounded-2(src='assets/img/Group_2.png', alt='...')
                    .col-lg-6.order-lg-1
                        .p-5
                            h2.display-4 But why an app for students?
                            p
                                | Well, according to research by MIND, 96% of young people have reported that schoolwork has affected their mental health a some point- with 4 in 5 saying that school had made their mental health worse overall. Stigma around mental health often makes it difficult for them to chase support. Those who do seek support can feel that what’s available doesn’t meet their needs. On top of this young people who do manage to get referred CAMHS (Child and Adolescent Mental Health Services)  often have very long waiting lists meaning issues go unaddressed for long periods of time. Covid and the lockdown period has also exacerbated mental health issues.


        h1(id="founder").text-center.masthead-heading.mb-0 A word from our Founder

        section
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-5
                            img.img-fluid.rounded-circle(src='assets/img/batul.png', alt='...')
                    .col-lg-6.order-lg-1
                        .p-5
                            h3.display-4
                                | "I'm Batul, and I want to make sure no student ever experiences what I went through during my A-levels. Education-related mental health issues are very real, and a growing epidemic amongst GCSE, A-Level and Undergraduate students."





        h1(id="journey").text-center.masthead-heading.mb-0 The Journey so Far...

        // Content section 1
        section
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-5
                            img.img-fluid(src='assets/img/journey1.png', alt='...')
                    .col-lg-6.order-lg-1
                        .p-5
                            h2.display-4 From early mockups...
                            p
                                | Initial brainstorming and drafting, the day of Comrat's birth!
        // Content section 2
        section
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6
                        .p-5
                            img.img-fluid.rounded-circle(src='assets/img/journey2.png', alt='...')
                    .col-lg-6
                        .p-5
                            h2.display-4 And ideation...
                            p
                                | Ideas for the different expressions for the PAP (Personal Assistance Pet)
        // Content section 3
        section
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-5
                            img.img-fluid.rounded-2(src='assets/img/journey3.png', alt='...')
                    .col-lg-6.order-lg-1
                        .p-5
                            h2.display-4 To... A RAT!
                            p
                                | To our (almost) final design, and eventual logo!
            .container.px-5
                .row.gx-5.align-items-center
                    iframe(type='text/html' width="935" height="603" src="https://www.youtube.com/embed/oKJUdCUBJSU" title="Comrat Wireframes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share")

        .text-break
            <br />
            <br />
            <br />

        h1(id="mission").text-center.masthead-heading.mb-0 What we do
        section
            .container.px-5
                .row.gx-5.align-items-center
                    .p-5
                        p(font-size= 48,font-weight=700)
                            | Comrat bridges the gap between education and mental health, promoting a balance between a student’s competing personal and professional goals. GCSE students and above can form a relationship with their own personal assistance pet (PAP) through checking in on it once a day and allowing it to check in on them. This symbiotic relationship encourages the user to continuously return the application due to the emotional attachment with their pet. Through accessing the app’s three areas of focus, Personal, Professional, and Mental Health, they will converse with their PAP, planning and celebrating goals.<br /><br />
                            | There is a clear need for accessible mental health support, and Comrat aims to bridge the gap between education and mental health for GCSE students and above. By forming a relationship with their own personal assistance pet (PAP), students can check in on it daily, and it will check in on them, encouraging them to return to the app and engage with its three areas of focus: Personal, Professional, and Mental Health.

        // Footer
        footer.py-5
            .container.px-5
                p.m-0.text-center.text-white.small Copyright &copy; Batul Chehab 2023

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')